<div class="row">
  <div class="col">
    <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>Regimes</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @regimes.each do |regime| %>
          <tr>
            <td><%= regime.name %></td>
            <td>
              <div class="dropdown">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle"
                        type="button"
                        id="options_for_<%= regime.slug %>"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        Options<span class="sr-only"> for regime
                          <%= regime.slug %></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="options_for_<%= regime.slug %>">
                  <%= link_to 'Edit', edit_regime_path(regime), class: "dropdown-item" %>
                  <%= link_to 'Destroy', regime_path(regime),
                    method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to 'New Regime', new_regime_path, class: "btn btn-primary",
      role: "button" %>
  </div>
</div>
