<p id="notice"><%= notice %></p>

<h1>Regimes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regimes.each do |regime| %>
      <tr>
        <td><%= regime.name %></td>
        <td><%= link_to 'Show', regime %></td>
        <td><%= link_to 'Edit', edit_regime_path(regime) %></td>
        <td><%= link_to 'Destroy', regime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Regime', new_regime_path %>
