<div class="row search-bar">
  <div class="col mb-2">
    <%= form_with controller: controller_name, action: action_name,
      method: "get", class: 'form-inline', id: "search-bar", local: true do %>
      <div class="form-group mr-2">
        <%= label_tag(:region, 'Region', class: 'mr-2') %>
        <%= select_tag(:region, view_model.region_options,
                       class: 'form-control') %>
      </div>
      <% unless @regime.waste? %>
        <div class="form-group ml-2 mr-2">
          <%= label_tag(:prepost, 'Pre/Post-SRoC', class: 'mr-2') %>
          <%= select_tag(:prepost, view_model.prepost_options,
                         class: 'form-control') %>
        </div>
      <% end %>
      <div class="input-group col-12 col-lg-3 col-md-3 col-sm-4 mr-2">
        <%= label_tag(:search, 'Search', class: 'sr-only') %>
        <%= search_field_tag(:search, view_model.search,
                             class: 'form-control',
                             placeholder: 'File Reference') %>
        <span class="input-group-btn">
          <%= submit_tag "Search", class: 'btn btn-outline-primary' %>
        </span>
      </div>
      <%= hidden_field_tag :page, 1 %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <%= hidden_field_tag :sort_direction, params[:sort_direction] %>
    <% end %>
  </div>
</div>
