<div class="unbilled">
  <div class="row mb-4">
    <div class="col">
      <h1 id="view-title"><%= t(".title") %></h1>
    </div>
  </div>
<table class="table table-responsive">
  <thead>
    <tr>
      <th>Action</th>
      <th>Attribute</th>
      <th>Old Value</th>
      <th>New Value</th>
      <th>When</th>
      <th>Who</th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.action %></td>
        <td><%= log.attribute %></td>
        <td><%= log.old_value %></td>
        <td><%= log.new_value %></td>
        <td><%= log.when %></td>
        <td><%= log.who %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
