<div class="row">
  <div class="col">
    <table class="table table-responsive sortable">
      <thead>
        <tr>
          <th><%= sortable :file_reference %></th>
          <th><%= sortable :customer_reference %></th>
          <th><%= sortable :transaction_reference %></th>
          <% if @regime.waste_or_installations? %>
            <th><%= sortable :permit_reference %></th>
            <th><%= sortable :sroc_category %></th>
            <th><%= sortable :compliance_band %></th>
          <% else %>
            <th><%= sortable :consent_reference %></th>
            <th><%= sortable :sroc_category %></th>
            <th><%= sortable :variation %></th>
          <% end %>
          <th><%= sortable :generated_at %></th>
          <th>Period</th>
          <th class="text-right">Amount (£)</th>
        </tr>
      </thead>
      <tbody>
        <% transactions.each do |t| %>
          <% transaction = present_transaction(t) %>
          <tr>
            <td><%= transaction.file_reference %></td>
            <td><%= transaction.customer_reference %></td>
            <td><%= transaction.transaction_reference %></td>
            <% if @regime.waste_or_installations? %>
              <td><%= transaction.permit_reference %></td>
              <td><%= transaction.sroc_category %></td>
              <td><%= transaction.compliance_band %></td>
            <% else %>
              <td><%= transaction.consent_reference %></td>
              <td><%= transaction.sroc_category %></td>
              <td><%= transaction.variation_percentage %></td>
            <% end %>
            <td><%= transaction.generated_at %></td>
            <td><%= transaction.period %></td>
            <td class="text-right"><%= transaction.amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
