<table class="table table-responsive">
  <thead>
    <tr>
      <th><span class='sr-only'>Details</span></th>
      <th><%= sortable :customer_reference %></th>
      <th><%= sortable :permit_reference %></th>
      <th><%= sortable :sroc_category %></th>
      <th><%= sortable :temporary_cessation %></th>
      <th><%= sortable :compliance_band %></th>
      <th><%= sortable :period %></th>
      <th class="text-right"><%= sortable :amount %></th>
      <th><%= sortable :original_filename %></th>
      <th><%= sortable :generated_filename %></th>
      <th><%= sortable :generated_file_date %></th>
      <th><%= sortable :tcm_transaction_reference %></th>
    </tr>
  </thead>
  <tbody>
    <% transactions.each do |transaction| %>
      <%= render partial: 'wml_transaction', locals: { transaction: transaction } %>
    <% end %>
  </tbody>
</table>
