<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
  <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
  <%= javascript_pack_tag 'transactions' %>
<% end %>
<div class="row">
  <div class="col">
    <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="row mb-4">
  <div class="col">
    <h1>Transaction History</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <div id="transaction-table" 
         data-regime="<%= @regime.slug %>"
         data-historic="true"
         data-sort-col="customer_reference"
         data-sort-dir="asc"
         data-path="<%= regime_history_index_path(@regime) %>"
         data-regions="<%= available_regions(@regime).to_json %>"
         data-selected-region="<%= params.fetch(:region, 'all') %>"
         data-search-term="<%= params[:search] %>"
         data-search-placeholder="<%= search_placeholder(@regime) %>">
    </div>
  </div>
</div>
