<%= form_with(model: user, local: true ) do |form| %>
  <%= error_header(user) %>

  <fieldset class="mt-4">
    <legend>User details</legend>
    <div class="row">
      <%= error_group(user, :email, class: "col-lg-6") do %>
        <div class="form-group">
          <%= form.label :email %>
          <%= form.text_field :email, id: :user_email,
            class: "form-control", readonly: user.persisted? %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <%= error_group(user, :first_name, class: "col-lg-6") do %>
        <div class="form-group">
          <%= form.label :first_name %>
          <%= form.text_field :first_name, id: :user_first_name,
            class: "form-control" %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <%= error_group(user, :last_name, class: "col-lg-6") do %>
        <div class="form-group">
          <%= form.label :last_name %>
          <%= form.text_field :last_name, id: :user_last_name,  class: "form-control" %>
        </div>
      <% end %>
    </div>
    <div class="row ml-2">
      <div class="col-lg-6">
        <div class="form-check">
          <%= form.check_box :enabled, id: :user_enabled, class: "form-check-input" %>
          <%= form.label :enabled, class: 'form-check-label' %>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="row">
    <fieldset class="col-lg-3 col-sm-6 mt-4">
      <legend>Role</legend>
      <div class="row ml-2">
        <div class="col">
          <%# @user.defined_enums['role'].each do |k, _| %>
          <% User.ordered_roles.each do |r| %>
            <div class="form-check">
              <%= form.radio_button :role, r, id: "role_#{r}", class: "form-check-input" %>
              <%= form.label :role, role_label(r), for: "role_#{r}", class: 'form-check-label' %>
            </div>
          <% end %>
        </div>
      </div>
    </fieldset>
    <%= error_group(user, :regime, class: "col-lg-3 col-sm-6 mt-4") do %>
      <fieldset>
        <legend>Regime Access</legend>
        <%= form.fields_for :regime_users do |ff| %>
          <%= ff.hidden_field :regime_id %>
          <div class="row ml-2">
            <div class="col">
              <div class="form-check">
                <%= ff.check_box :enabled, class: "form-check-input" %>
                <%= ff.label :enabled, ff.object.regime.title, class: 'form-check-label' %>
              </div>
            </div>
          </div>
        <% end %>
      </fieldset>
    <% end %>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col-lg-6 actions">
      <%= user_submit_button(form) %>
      <% if user.can_reinvite? %>
        <%= link_to 'Resend Invitation', reinvite_user_path(user),
          class: 'btn btn-warning mr-4', role: 'button' %>
      <% end %>
      <%= link_to 'Cancel', users_path, class: 'btn btn-secondary', role: 'button' %>
    </div>
  </div>
<% end %>
