<div class="tcm-table users"
     data-path="<%= users_path %>"
     data-regime="<%= view_model.regime %>"
     data-role="<%= view_model.role %>"
     data-search="<%= view_model.search %>"
     data-page="<%= view_model.page %>"
     data-per-page="<%= view_model.per_page %>"
     data-sort-column="<%= view_model.sort %>"
     data-sort-direction="<%= view_model.sort_direction %>">
     <%= render partial: 'search_bar', locals: { view_model: view_model } %>
<table class="table table-responsive">
  <thead>
    <tr>
      <th><%= sortable :last_name, view_model %></th>
      <th><%= sortable :first_name, view_model %></th>
      <th><%= sortable :email, view_model %></th>
      <th><%= sortable :role, view_model %></th>
      <th><%= t(:regime, scope: 'table.heading.users') %></th>
      <th><%= sortable :enabled, view_model %></th>
      <th>
        <span class='sr-only'>Actions</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <% view_model.paged_users.each do |user| %>
      <tr id="<%= user.id %>" class="<%= user.role %>">
        <td><%= user.last_name %></td>
        <td><%= user.first_name %></td>
        <td><%= user.email %></td>
        <td><%= role_label(user.role) %></td>
        <td><%= regime_names(user) %></td>
        <td><%= user.enabled? ? 'Y' : 'N' %></td>
        <td class="align-middle control-column">
          <%= link_to edit_user_path(user),
            class: "btn btn-sm btn-success" do -%>Edit<span class="sr-only"> user <%= user.full_name %></span>
          <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render partial: "pagination", locals: { view_model: view_model } %>
</div>
