<%
    regime_list = Regime.all.order(:title)
    @regime = regime_list.first if (defined?(@regime)).nil?
%>
<nav class="main-menu navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Tactical Charging Module", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <!-- Admin menu -->
      <% unless ENV.fetch('HEROKU', false) %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarAdminSelectorLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarAdminSelectorLink">
            <%= link_to "Regimes", regimes_path, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
      <!-- End of Admin menu -->
      <% if (defined?(@regime) && @regime) %>
        <!-- Transactions menu -->
        <li class="nav-item dropdown <%= active_for_current_controller(["transactions", "history"]) %>">
          <a class="nav-link dropdown-toggle" href="#" id="navbarTransactionsSelectorLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Transactions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarTransactionsSelectorLink">
            <%= link_to "Transactions to be billed", regime_transactions_path(@regime), class: "dropdown-item", data: { turbolinks: false } %>
            <%= link_to "Transaction history", regime_history_index_path(@regime), class: "dropdown-item", data: { turbolinks: false } %>
          </div>
        </li>
        <!-- End of Transactions menu -->
      <% unless ENV.fetch('HEROKU', false) %>
        <!-- Permits menu -->
        <li class="nav-item dropdown <%= active_for_current_controller("permits") %>">
          <a class="nav-link dropdown-toggle" href="#" id="navbarPermitsSelectorLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Permits
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarPermitsSelectorLink">
            <%= link_to "Permits", regime_permits_path(@regime), class: "dropdown-item" %>
            <%= link_to "Permit Categories", regime_permit_categories_path(@regime), class: "dropdown-item" %>
          </div>
        </li>
        <!-- End of Permits menu -->
      <% end %>
      <% end %>
    </ul>
    <ul class="navbar-nav">
      <% if (defined?(@regime) && @regime) %>
        <li class="nav-item dropdown mr-4">
          <a class="nav-link dropdown-toggle" href="#" id="navbarRegimeSelectorLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Regime: <%= @regime.title %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarRegimeSelectorLink">
            <% regime_list.each do |r| %>
              <%= link_to r.title, menu_path(r, controller_name), class: "dropdown-item", data: { turbolinks: false } %>
            <% end %>
          <div>
        </li>
      <% end %>
      <li class="nav-item navbar-text mr-4">
        Signed in as <b>Bert Kwouk</b>
      </li>
      <li class="nav-item">
        <%= link_to "Sign out", "#", class: "navbar-text" %>
      </li>
    </ul>
  </div>
</nav>
