<%
    if user_signed_in?
      regime_list = current_user.regimes.order(:title)
      @regime = current_user.selected_regime
    end
%>
<nav class="main-menu navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Tactical Charging Module", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% if user_signed_in? %>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav" role="menubar">
        <%= render partial: 'shared/menu/admin' if current_user.admin? %>
        <%= render partial: 'shared/menu/transactions' %>
        <%= render partial: 'shared/menu/annual_billing' %>
      </ul>
      <ul class="navbar-nav" role="menubar">
        <%= render partial: 'shared/menu/regime_selector' unless devise_controller? %>
        <%= render partial: 'shared/menu/user' %>
      </ul>
    </div>
  <% end %>
</nav>
