<li class="nav-item dropdown <%= active_for_current_controller(["transactions", "history", "retrospectives", "exclusions", "data_export"]) %>">
  <a class="nav-link dropdown-toggle"
     href="#"
     id="navbarTransactionsSelectorLink"
     data-toggle="dropdown"
     aria-haspopup="true"
     aria-expanded="false">Transactions</a>

  <div class="dropdown-menu" aria-labelledby="navbarTransactionsSelectorLink">
    <%= link_to t("title", scope: "transactions.index"),
      regime_transactions_path(@regime),
      class: "dropdown-item" -%>
    <%= link_to t("title", scope: "history.index"),
      regime_history_index_path(@regime),
      class: "dropdown-item" -%>
    <% unless @regime.waste? %>
      <%= link_to t("title", scope: "retrospectives.index"),
        regime_retrospectives_path(@regime),
        class: "dropdown-item" -%>
    <% end %>
    <%= link_to t("title", scope: "exclusions.index"),
      regime_exclusions_path(@regime),
      class: "dropdown-item" -%>
    <div class="dropdown-divider"></div>
    <%= link_to "Download Transaction Data",
      regime_data_export_index_path(@regime),
      class: "dropdown-item", role: "menuitem" %>
  </div>
</li>
