<p>
  <strong>Code:</strong>
  <%= @permit_category.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @permit_category.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @permit_category.status %>
</p>

<p>
  <strong>Display order:</strong>
  <%= @permit_category.display_order %>
</p>

<%= link_to 'Edit', edit_regime_permit_category_path(@regime, @permit_category), class: "btn", role: "button" %>
<%= link_to 'Back', regime_permit_categories_path(@regime), class: "btn", role: "button" %>
