<div class="row">
  <div class="col">
    <h1>Imported Transaction file details</h1>
  </div>
</div>
<div class="row mt-2">
  <div class="col">
    <div class="panel">
      <dl class="transaction-summary dl-horizontal">
        <% scope = 'table.heading.imported_transaction_files' %>
        <dt><%= t('file_reference', scope: scope) %></dt>
        <dd><%= @file.file_reference %></dd>
        <dt><%= t('generated_at', scope: scope) %></dt>
        <dd><%= @file.generated_at %></dd>
        <dt><%= t('created_at', scope: scope) %></dt>
        <dd><%= @file.created_at %></dd>
        <dt><%= t('credit_total', scope: scope) %></dt>
        <dd><%= formatted_pence_without_symbol @file.credit_total %></dd>
        <dt><%= t('invoice_total', scope: scope) %></dt>
        <dd><%= formatted_pence_without_symbol @file.invoice_total %></dd>
      <% if @file.removed? %>
        <dt><%= t('removed_by', scope: scope) %></dt>
        <dd><%= @file.removed_by %></dd>
        <dt><%= t('removed_at', scope: scope) %></dt>
        <dd><%= @file.removed_at %></dd>
        <dt><%= t('removal_reference', scope: scope) %></dt>
        <dd><%= @file.removal_reference %></dd>
      </dl>
      <dl class="indent-list-multiline">
        <dt><%= t('removal_reason', scope: scope) %></dt>
        <dd><%= @file.removal_reason %></dd>
      <% end %>
      </dl>
    </div>
  </div>
</div>
<% if @file.removed? %>
  <div class="row">
    <div class="col">
      <div class="d-inline">
        <div class="col-6 alert alert-danger">
          <h5>File status</h5>
          <p>This file was removed on <b><%= @file.removed_at %></b> by <b><%= @file.removed_by %></b></p>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col">
      <div class="removal-zone d-inline">
        <div class="col-6 alert alert-success">
          <h5>File status</h5>
          <ul>
            <li><b><%= @file.unbilled_items.count %></b> transactions to be billed</li>
            <li><b><%= @file.billed_items.count %></b> billed transactions</li>
            <li><b><%= @file.excluded_items.count %></b> excluded transactions</li>
          </ul>
        </div>

        <% if current_user.admin? && @file.can_be_removed? %>
          <%= link_to "Remove this file",
            edit_regime_imported_transaction_file_path(@regime, @file),
            class: 'btn btn-danger',
            role: 'button',
            data: { turbolinks: false } %>
        <% end %>
      </div>
  </div>
</div>
<% end %>
<hr />
<div class="row mt-2">
  <div class="col">
    <%= link_to 'Back', '#', class: "back-link" %>
  </div>
</div>
