<div class="row mt-4 mb-4">
  <div class="col">
    <h1>Log in</h1>
  </div>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
          class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
  </div>
  <% if devise_mapping.rememberable? -%>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>
    </div>
  <% end -%>
  <div class="row mt-2 mb-4">
    <div class="col-lg-6 actions">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
