<tr id=<%= transaction.id %>>
  <td class="align-middle details-button-column">
    <button class="btn btn-sm show-details-button"
      data-path="<%= data_path %>">
      <span class='sr-only'>Show details for Consent <%= transaction.consent_reference %></span>
      <span class="aria-hidden oi oi-magnifying-glass"></span>
    </button>
  </td>
  <td class="align-middle">
    <%= transaction.original_filename %>
  </td>
  <td class="align-middle">
    <%= transaction.original_file_date_table %>
  </td>
  <td class="align-middle">
    <%= transaction.customer_reference %>
  </td>
  <td class="align-middle">
    <%= transaction.consent_reference %>
  </td>
  <td class="align-middle">
    <%= transaction.version %>
  </td>
  <td class="align-middle">
    <%= transaction.discharge_reference %>
  </td>
  <td class="align-middle">
    <%= transaction.clean_variation_percentage %>
  </td>
  <td class="align-middle">
    <%= transaction.period %>
  </td>
  <td class="align-middle">
    <%= transaction.excluded_reason %>
  </td>
  <td class="align-middle text-right">
    <%= transaction.amount %>
  </td>
</tr>
