<table class="table table-sm table-responsive">
  <thead>
    <tr>
      <td></td>
      <th><%= th :file_reference %></th>
      <th><%= th :file_date %></th>
      <th><%= th :customer_reference %></th>
      <th><%= th :permit_reference %></th>
      <th><%= th :original_permit_reference %></th>
      <th><%= th :sroc_category %></th>
      <th><span class='sr-only'>Confidence level indicator</span></th>
      <th><%= th :compliance_band %></th>
      <th>
        <span aria-hidden="true">TC</span>
        <span class='sr-only'>Temporary Cessation</span>
      </th>
      <th>Period</th>
      <th class="text-right">Amount (£)</th>
      <th>
        <span aria-hidden="true" class="oi oi-check"></span>
        <span class='sr-only'>Approved for billing</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <% transactions.each do |t| %>
      <% transaction = present_transaction(t) %>
      <tr>
        <td>
          <%= link_to regime_transaction_path(@regime, transaction),
            class: 'btn btn-sm', role: 'button' do %>
            <span class='sr-only'>Details for transaction for period <%= transaction.period %></span>
            <span class='oi oi-magnifying-glass'></span>
          <% end %>
        </td>
        <td><%= transaction.original_filename %></td>
        <td><%= transaction.original_file_date_table %></td>
        <td><%= transaction.customer_reference %></td>
        <td><%= transaction.permit_reference %></td>
        <td><%= transaction.original_permit_reference %></td>
        <td><%= transaction.category %></td>
        <td>
          <% if !transaction.category_overridden? %>
            <%= confidence_dot(transaction.confidence_level) %>
          <% end %>
        </td>
        <td><%= transaction.compliance_band %></td>
        <td><%= transaction.temporary_cessation_flag %></td>
        <td><%= transaction.period %></td>
        <td class="text-right"><%= transaction.amount %></td>
        <td>
          <%= approval_check(transaction.approved?) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
