<div class="row">
  <div class="col">
    <h2>Related transactions</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table table-sm table-responsive">
      <thead>
        <tr>
          <% if @regime.waste_or_installations? %>
            <th><%= th :customer_reference %></th>
            <th><%= th :permit_reference %></th>
            <th><%= th :sroc_category %></th>
            <th><%= th :compliance_band %></th>
          <% else %>
            <th><%= th :customer_reference %></th>
            <th><%= th :consent_reference %></th>
            <th>Version</th>
            <th>Discharge</th>
            <th><%= th :sroc_category %></th>
            <th><%= th :variation %></th>
          <% end %>
          <th>Temporary Cessation</th>
          <th>Period</th>
          <th class="text-right">Amount (£)</th>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% transactions.each do |t| %>
          <% transaction = present_transaction(t) %>
          <tr>
            <td><%= transaction.customer_reference %></td>
            <td><%= transaction.permit_reference %></td>
            <% if @regime.waste_or_installations? %>
              <td><%= transaction.sroc_category %></td>
              <td><%= transaction.compliance_band %></td>
            <% else %>
              <td><%= transaction.version %></td>
              <td><%= transaction.discharge_reference %></td>
              <td><%= transaction.sroc_category %></td>
              <td><%= transaction.variation_percentage %></td>
            <% end %>
            <td><%= transaction.temporary_cessation_flag %></td>
            <td><%= transaction.period %></td>
            <td class="text-right"><%= transaction.amount %></td>
            <td>
              <%= link_to edit_regime_transaction_path(@regime, transaction),
                class: 'btn btn-sm btn-success', role: 'button' do %>
                Edit<span class='sr-only'> transaction <%= transaction.transaction_reference %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
