<div class="tcm-table"
     data-path="<%= regime_transactions_path(@regime) %>"
     data-summary-path="<%= regime_transaction_summary_index_path(@regime) %>"
     data-approve-path="<%= approve_regime_transactions_path(@regime, format: :json) %>"
     data-region="<%= @region %>"
     data-financial-year="<%= @financial_year %>"
     data-search="<%= param_or_cookie(:search, '') %>"
     data-page="<%= param_or_cookie(:page, 1) %>"
     data-per-page="<%= param_or_cookie(:per_page, 10) %>"
     data-sort-column="<%= param_or_cookie(:sort, 'customer_reference') %>"
     data-sort-direction="<%= param_or_cookie(:sort_direction, 'asc') %>">
<%= render partial: 'transaction_search_bar', locals: { view_mode: 'unbilled' } %>
<%= render partial: "#{@regime.slug}_table", locals: { transactions: transactions } %>
<%= render partial: "shared/pagination", locals: { collection: transactions } %>
  <div id="summary-dialog"
       data-summary-path="<%= regime_transaction_summary_index_path(@regime) %>">
  </div>
</div>
