<dl class="transaction-summary dl-horizontal">
  <dt>Customer Reference</dt>
  <dd><%= transaction.customer_reference %></dd>
  <dt>Customer Name</dt>
  <dd><%= transaction.customer_name %></dd>
  <dt>Permit Reference</dt>
  <dd><%= transaction.permit_reference %></dd>
  <dt>Site</dt>
  <dd><%= transaction.site %></dd>
  <dt>File Ref (Source)</dt>
  <dd><%= transaction.file_reference %></dd>
  <% unless transaction.retrospective? %>
    <dt>Category</dt>
    <dd>
      <%= transaction.category %>
      <%= " (#{transaction.category_description})" unless
        transaction.category_description.nil? %>
    </dd>
    <dt>Temporary Cessation</dt>
    <dd><%= transaction.temporary_cessation_yes_no %></dd>
  <% end %>
  <dt>File Date</dt>
  <dd><%= transaction.original_file_date %></dd>
  <dt>Compliance Band</dt>
  <dd><%= transaction.compliance_band %></dd>
  <dt>Period</dt>
  <dd><%= transaction.period %></dd>
  <dt>Amount</dt>
  <% if transaction.retrospective? %>
    <dd><%= transaction.line_amount %></dd>
  <% else %>
    <dd><%= transaction.amount %></dd>
  <% end %>
  <dt>Status</dt>
  <dd>
    <span class="<%= "badge badge-pill badge-#{status_colour(transaction.status)}" %>">
    <%= status_text(transaction.status) -%>
    </span>
    <% if transaction.unbilled? && transaction.excluded? %>
      <span class="badge badge-pill badge-danger">Marked for Exclusion</span>
    <% end %>
  </dd>
  <% if transaction.excluded? || transaction.permanently_excluded? %>
    <dt>Exclusion Reason</dt>
    <dd><%= transaction.excluded_reason %></dd>
  <% end %>
</dl>
