<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
  <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
  <%= javascript_pack_tag 'transactions' %>
<% end %>
<div class="row">
  <div class="col">
    <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>Transactions to be billed</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <div id="transaction-table"
         data-regime="<%= @regime.slug %>"
         data-columns="<%= columns_for_regime(@regime) %>"
         data-sort-col="customer_reference"
         data-sort-dir="asc"
         data-path="<%= regime_transactions_path(@regime) %>"
         data-transactions="<%= @transactions.to_json %>"
         data-regions="<%= available_regions(@regime).to_json %>"
         data-selected-region="<%= params.fetch(:region, 'all') %>"
         data-search-term="<%= params[:search] %>"
         data-search-placeholder="<%= search_placeholder(@regime) %>"
         data-categories="<%= permit_categories(@regime).to_json %>">
    </div>
  </div>
</div>
