<%= form_with(model: [@regime, upload], local: true, html: { multipart: true } ) do |form| %>
  <%= error_header(upload) %>

  <div class="col-lg-6">
    <div class="form-group">
      <%= form.file_field :data_file,
          accept: upload.file_types,
          aria: { labelledby: 'annual-billing-data-upload' } %>
      <%= form.hidden_field :id %>
    </div>

    <div class="actions">
      <%= form.submit class: "btn btn-primary" %>
      <%= link_to 'Back', regime_permit_categories_path(@regime),
        class: "btn btn-secondary", role: "button" %>
    </div>
  </div>
<% end %>
