<table class="table table-responsive">
  <thead>
    <tr>
      <th><span class='sr-only'>Details</span></th>
      <th><%= sortable :file_reference %></th>
      <th><%= sortable :file_date %></th>
      <th><%= sortable :customer_reference %></th>
      <th><%= sortable :permit_reference %></th>
      <th><%= sortable :original_permit_reference %></th>
      <th><%= sortable :compliance_band %></th>
      <th><%= sortable :period %></th>
      <th class="text-right"><%= sortable :line_amount %></th>
    </tr>
  </thead>
  <tbody>
    <% transactions.each do |transaction| %>
      <%= render partial: 'pas_transaction', locals: { transaction: transaction } %>
    <% end %>
  </tbody>
</table>
