<tr id=<%= transaction.id %>>
  <td class="align-middle details-button-column">
    <button class="btn btn-sm show-details-button"
            data-path="<%= data_path %>">
            <span class='sr-only'>Show details for Permit <%= transaction.permit_reference %></span>
            <span class="aria-hidden oi oi-magnifying-glass"></span>
    </button>
  </td>
  <td class="align-middle">
    <%= transaction.original_filename %>
  </td>
  <td class="align-middle">
    <%= transaction.original_file_date_table %>
  </td>
  <td class="align-middle">
    <%= transaction.customer_reference %>
  </td>
  <td class="align-middle">
    <%= transaction.permit_reference %>
  </td>
  <td class="align-middle">
    <%= transaction.compliance_band %>
  </td>
  <td class="align-middle">
    <%= transaction.period %>
  </td>
  <td class="align-middle text-right">
    <%= transaction.currency_line_amount %>
  </td>
</tr>
